h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(100, 196, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
h2 {
    font-size: larger;
    font-weight: bolder;
}
main {
        margin:2rem;
        margin:2rem 3rem;
        margin:2rem 3rem 4rem;
        margin:2rem 3rem 4rem 5rem;
        padding:1rem;
        padding:1rem 2rem;
        padding:1rem 2rem 3rem;
        padding:1rem 2rem 3rem 4rem;
}
body {
    background-image:url(Photos/unc.jpeg);
    background-repeat: repeat;
    background-position: top;
    background-size:cover;
}
p {
    color: rgb(0, 0, 0);
    -webkit-text-stroke: black;
}