header {
    background-image: url(Images/walls.jpg);
    background-size: auto;
    overflow: hidden;
}
.hdr{
    transition-property: transform;
    transition-duration:.5s;
    transition-timing-function:ease-in;
    transition-delay: none;/*Delete this don't need it if no delay*/
    border: darkgoldenrod;
}
.hdr:hover {
    transform: translateY(-10px);
}
section {
    column-count: 2;
    column-width: 33% 67%;/*Delete this. It is invalid. If you want to apply a column-width you need to add it to the elements inside of this container. However looks the same with out it.*/
    column-rule: 3px solid white;
    column-gap: 1.5rem;
}
footer {
    column-count: 3;
    column-width: 33% 33% 33%;/*Delete this. It is invalid. If you want to apply a column-width you need to add it to the elements inside of this container. However looks the same with out it.*/
    column-rule: 3px solid white;
    column-gap: 1.5rem;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color :darkgoldenrod;
    margin: 5px;
}
nav a {
    float: none;
    display: block;
    color: darkgoldenrod;
    text-align: center;
    padding: 14px 16px;
    text-decoration: wavy;
}
nav a:hover {
    background-color: beige;
    color: black;
}
header {
    text-align: center;
}

@keyframes slide {
    from {
        transform:translateX(-300px);
    }
    to { 
        transform:translateX(300px);
    }
}
.icon {
    animation-name: slide;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
}
